apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-app
  namespace: dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8080"
        prometheus.io/path: "/metrics"
    spec:
      containers:
        - name: my-app
          image: shayaan1234/my-app:latest  # replace with your image
          ports:
            - containerPort: 8080
          env:
            - name: REDIS_URL
              value: "redis://redis:6379/0"
          envFrom:
            - configMapRef:
                name: app-config
            - secretRef:
                name: app-secrets
